---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Astro">
  <div class="about">hello about</div>
  
</Layout>

<style>
  .about {
    color: #597ef7;
    font-size: 58px;
  }
</style>