---
import BaseLayout from '@/layouts/BaseLayout.astro';

const pageTitle = '关于';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="about">关于</div>
  
</BaseLayout>

<style>
  .about {
    color: #597ef7;
    font-size: 58px;
  }
</style>